[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/rapidobj"]
	path = submodules/rapidobj
	url = https://github.com/guybrush77/rapidobj
